body {
    text-align: center;
    font-family: "century gothic";
    font-size: 16px;
    margin: 0 ;
    padding: 0;
    color: #0b4c61;
    background-color: #53331c;
}
.container{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    border: 1px solid grey;
}
.cabecera{
    background-color: indianred;
    color: white;
    display: flex;
    font-weight: bold;
    margin: 0;
    padding: 1.2em;
    text-transform: uppercase;
    justify-content: left;
    align-items: center;
    border: 2px solid cornsilk;
}
.cabecera .tagline{
    display: inline-block;
    font-weight: lighter;
    text-transform: lowercase;
    margin-left: 1em;
}
.logo{
    width: 50px;
    margin: 0px;
    padding-right: 10px;
}
.post{
    font-size: 20px;
    padding: 1em;
    background-color: cornsilk;
}
.footer{
    padding: 1em;
    margin: 0px ;
    color: white;
    display: flex;
    background-color: rgb(221, 147, 57);
    justify-content: center;
    border: 2px solid cornsilk;
}