body {
    text-align: center;
    font-family: "century gothic";
    font-size: 16px;
    margin: 0 ;
    padding: 0;
    color: pink;
    background-color: cornsilk;
}
.container{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    border: 1px solid grey;
}
.cabecera{
    background: indianred;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1.2em;
    box-shadow: 0px 2px 5px 0px grey;
    text-transform: uppercase;
}
.cabecera .tagline{
    display: inline-block;
    font-weight: lighter;
    text-transform: lowercase;
    margin-left: 1em;
}
.post{
    font-size: 20px;
    padding: 1em;
}